<%= form_for @venue do |f| %>
  <div class:"fields_with_errors">
    <% if @venue.errors.any? %>
      <ul>
        <% @venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <div class:"fields_with_errors">

  <div class="field">
    <%= f.label :name, 'Name of Venue:' %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description, 'Inside scoop:' %><br>
    <%= f.text_field :description %>
  </div>


  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
