<%= form_for venue do |f| %>
  <div class:"fields_with_errors" id= "errors">
    <% if venue.errors.any? %>
      <ul>
        <% venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <div class:"fields_with_errors">

  <div class="field">
    <%= f.label :name, 'Name of Venue:' %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description, 'Inside scoop:' %><br>
    <%= f.text_field :description %>
  </div>
  <br>

  <div class="field">
    <%= f.label :rating, 'Rating:' %><br>
    <%= f.text_field :rating %>
  </div>
  <br>

  <br/><br/>

  <div class="field">
    Choose a Location:
  <br>
    <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: ""  %><br>
  </div>
  <br>
  <div class="field">
    Or Add One (ex. Dublin, Ireland):<br>
    <%= f.fields_for :location,venue.build_location do |locations_fields| %>
      <%= locations_fields.text_field :name %>
    <% end %>
  </div>
  <br>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
