<%= form_for experience do |f| %>
  <%= f.hidden_field :venue_id %>

  <div class:"fields_with_errors">
    <% if @experience.errors.any? %>
      <ul>
        <% @experience.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <div class:"fields_with_errors">

  <div class="field">
    <%= f.label :title, 'Title:' %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :genre, 'Genre:' %><br>
    <%= f.text_field :genre %>
  </div>

  <br>
  <div class="field">
    <%= f.label :description, 'Inside scoop(description):' %><br>
    <%= f.text_field :description %>
  </div>
<br>

  <div class="action">
    <%= f.submit 'Create Experience!' %>
  </div>
<% end %>
