<div id="experience-ids" data-experience-ids="<%= @experience.venue.experience_ids %>"></div>
<a href="#" class="js-next" data-id="<%=@experience.id%>" data-venue="<%=@experience.venue.id%>">NEXT</a>

<% if user_signed_in? %>
  <div id="current-user" data-current-user="<%= { id: current_user.id, email: current_user.email }.to_json %>"></div>

  <div class="actions">
  <%= button_to 'Add Experience to Profile', user_experiences_path(experience_id: @experience) %>
  </div>
  <br>
  <div class="add">
    <%= link_to "Edit", edit_venue_experience_path(@experience.venue, @experience) %> |
    <%= link_to "Remove", venue_experience_path(@experience.venue, @experience), method: "delete" %>
  </div>
<% end %>

<div class="experience_show">
  <h2><%= @experience.title %></h2>
  <p id="artist"><strong>Genre:</strong> <%= @experience.genre %></p>
  <p id="description"><strong>Description:</strong> <%= @experience.description %></p>
</div>
<br>

<div class="categories_list">
    <strong>CATEGORIES:</strong>
    <% @experience.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %> |
    <% end %>
</div>

<div class="comments" id="<%=@experience.id%>" data-id="<%=@experience.venue.id%>">
  <ul>
  </ul>
</div>
